body { 
  background:black; 
  color:yellow; 
  font-family:Arial; 
  text-align:center; 
  padding:20px; 
}
input, button, select { 
  padding:8px; 
  margin:5px; 
  background:black; 
  color:yellow; 
  border:1px solid yellow; 
}
button:hover { 
  background:yellow; 
  color:black; 
}
canvas { 
  border:1px solid yellow; 
  display:block; 
  margin:auto; 
  background:#111; 
}
h1,h2 { margin:10px; }
pre { 
  text-align:left; 
  max-width: 600px; 
  margin:auto; 
  background:#111; 
  padding:10px; 
  border:1px solid yellow; 
  overflow-x:auto; 
}
